html,body{
    height:100%;
    font-size:100px;
    margin:0;
    padding:0;
    overflow-x:hidden;
    background-color: rgb(31, 26, 53);
}
#full{
    height: 0.37rem;
    width: 0.8rem;
    position: absolute;
    top: 0.24rem;
    left: 0.29rem;
    font-size: 0.14rem;
    z-index: 20000;
    background: transparent;
    outline: none;
    border: 1px solid rgba(255,255,255,.5);
    color: #fff;
}
div{
    box-sizing: border-box;
}
a:hover, a:visited, a:link, a:active {
    color:#fff;
    text-decoration: none;
}
#container{
    width:100%;
    height:100%;
    background-size:100% 100%;
    color:#fff;
    font-size:0.12rem;
    padding:0.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
}


[v-cloak] {
    display: none;
}
.header{
    height:0.73rem;
    flex: 1;
    position: relative;
}
#theme_content{
    flex: 6;
}
.header h1{
    text-align: center;
    line-height: 0.73rem;
    background-size: cover;
    font-size: 32px;
    font-weight: 700;
}
.header #time{
    text-align: center;
    /*color: #A1A1A1*/

}
.header #time p{
}
.header #enter {
    position: absolute;
    right: 0;
    top: 0.2rem;
}
.header #enter a{
    display: block;
    width: 2rem;
    height: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 0.6rem ;
}

#theme_content{
    display: flex;
}
/*#l-t,#l-b,#c-t>div{*/
    /*width: 100%;*/
/*}*/
/*.left_content>div,*/
/*.center_content>div,*/
/*.center_r_content>div,*/
/*.right_content>div{*/
    /*width: 100%;*/
/*}*/
.left_content,
.center_r_content{
    width: 33%;
}
.center_content,
.right_content{
    width: 16%;
}

#theme_content>.left_content,
#theme_content>.center_r_content{
    flex:2;
    display: flex;
    flex-direction:column;
}
#theme_content>.center_content
,#theme_content>.right_content{
    flex:1;
    display: flex;
    flex-direction:column;
}
#theme_content>.center_content{
    margin: 0 0.2rem;
}
#theme_content>.center_r_content{
    margin: 0 0.2rem 0 0;
}
#theme_content>.left_content>#l-t{
    flex: 2;
    margin-bottom: 0.2rem;
    border: 1px solid rgba(255,255,255,.3);
}
#theme_content #c-r-b{
    flex: 2;
    display: flex;
}
#theme_content>.left_content>#l-b{
    flex: 1;
    margin-bottom: 0.2rem;
    display: flex;
}
#theme_content>.left_content>#l-b>div,
#theme_content #c-r-b>div{
    flex: 1;
    /*margin-bottom: 0.2rem;*/
    border: 1px solid rgba(255,255,255,.3);
}
#theme_content #c-r-b>#c-r-b-1,
#theme_content>.left_content>#l-b>#l-b-1{
    margin-right: 0.2rem;
}
#theme_content>.right_content>div,
#theme_content>.center_r_content>div,
#theme_content>.center_content>div{
    flex: 2;
    margin-bottom: 0.2rem;
    border: 1px solid rgba(255,255,255,.3);
    width: 100%;
}
#c-r-b{
    border: none !important;
}
#l-b>div,
#c-r-b>div{
    width: 49%;
    height: 100%;
}

